.container {
	width: 90%;
	margin: 0 auto;
    margin-top: 59px;
	display: flex;
}
.content-left {
	display: flex;
	flex-direction: column;
	min-width: 250px;
}
.content-right {
	display: block;
	width: 100%;
}
.links {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
