<!DOCTYPE html>
<html>
	<head>
		<title>RIOT.JS anibal</title>
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen"/>

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
		<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css" media="screen"/>
		<script type="text/javascript" src="/static/js/riot%2Bcompiler.js"></script>
		<script type="text/javascript" src="/static/js/env.js"></script>
		<script type="text/javascript" src="/static/js/model.js"></script>

	</head>
	<body>
		<div id="topbar">
			<a href="/web/">
				<span style="float:left; margin:3px 16px;"><img src="/static/img/logo.svg" height="50"/></span>
			</a>
			<span id="useravatar"> <a href="/accounts/logout/?next=/web/">Sign Out</a></span>
		</div>

		<!-- CONTENT -->
		<div style="margin-top: 56px;">


		Lista de coleccionés
		<anb-list-coleccion></anb-list-coleccion>


		</div>
	<script type="riot/tag" src="/static/tag/anb-coleccion2.tag"></script>
	<script type="riot/tag" src="/static/tag/anb-list-coleccion.tag"></script>
	<script>
		(function(){
		env.add('anb_list_coleccion', new AjaxModel('/web/user_collections/'))
			//.add('anb_cur_collection', new AjaxModel())
			//.add('cur_collection', new AjaxModel())
			//.add('cur_item', new AjaxModel())
		riot.mount('*');
		})();
	</script>
	</body>
</html>
