<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Riotjs MIRA</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />
	<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/static/js/riot%2Bcompiler.js"></script>
	<script type="text/javascript" src="/static/js/env.js"></script>
	<script type="text/javascript" src="/static/js/model.js"></script>
</head>
<body>
	<div class="container">
		<div class="leftPanel">
			<coleccion-lista></coleccion-lista>
			<h2>Selector de imagenes SVG</h2>
			<panel-item-seleccionados></panel-item-seleccionados>
		</div>

		<div>
			<widget-1></widget-1>
			<main-grid></main-grid>
		</div>

		<inspector></inspector>
	</div>
	<br/>

	<!-- script my tag -->
	<script type="riot/tag" src="/static/tag/03/coleccion-item.tag"></script>
	<script type="riot/tag" src="/static/tag/03/coleccion-lista.tag"></script>
	<script type="riot/tag" src="/static/tag/03/main-grid.tag"></script>
	<script type="riot/tag" src="/static/tag/03/inspector.tag"></script>
	<script type="riot/tag" src="/static/tag/03/panel-item-seleccionados.tag"></script>
	<script type="riot/tag" src="/static/tag/03/widget-1.tag"></script>
	<script>
		(function(){
			env.add('colecciones', new AjaxModel('{% url "user_collections" %}'))
			env.add('cur_coleccion', new AjaxModel())
			env.add('cur_item', new AjaxModel())
			riot.mount('*');
		})();
	</script>
	<style type="text/css">
	.red{
		border:1px solid red;
	}
	.blue{
		border:1px solid blue;
	}
	.container{
		width:90%
	}
	.leftPanel{
		float:left;
		width:30%
	}
	.rightPanel{
		float:left;
		width:70%
	}
	.left {float:left}
	.right {float:right}
	.clear {clear:both}
	</style>
</body>
</html>
