<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>t</title>
</head>

<body>
	<h2>svg</h2>

	<svg viewBox="0 0 300 180" style="width:25vw; height:15vw;">
		<filter id="dropshadow" height="130%">
			<feGaussianBlur in="SourceAlpha" stdDeviation="3"></feGaussianBlur>
			<feOffset dx="2" dy="2" result="offsetblur"></feOffset>
			<feMerge>
				<feMergeNode></feMergeNode>
				<feMergeNode in="SourceGraphic"></feMergeNode>
			</feMerge>
		</filter>
		<image width="192" height="192"
		transform="translate(105,140) rotate(-15) translate(-96,-156)"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		xlink:href="/media/blobs/i-13_v-13_preview.jpeg"
		style="filter:url(#dropshadow)"></image>

		<image width="192" height="192"
		transform="translate(105,140) rotate(-15) translate(-96,-156)"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		xlink:href="/media/blobs/i-13_v-13_preview.jpeg"
		style="filter:url(#dropshadow)"></image>

		<image width="192" height="192"
		transform="translate(195,140) rotate(15) translate(-96,-156)"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		xlink:href="/media/blobs/i-12_v-12_preview.jpeg"
		style="filter:url(#dropshadow)"></image>

	</svg>




</body>

</html>
