<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Riotjs MIRA</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css" media="all" />
	<script type="text/javascript" src="/static/plugins/jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/static/plugins/riotjs/riot+compiler.js"></script>
	<script type="text/javascript" src="/static/js/core/env.js"></script>
	<script type="text/javascript" src="/static/js/core/model.js"></script>
</head>
<body>
	<div class="container blue">
		<div class="leftPanel">
			<div riot-tag="coleccion-lista"></div>
			<!--<div riot-tag="frame-items-seleccionados"></div>-->
			<div riot-tag="svg-ver-seleccion" class="red">

			</div>
		</div>

		<div>
			<div riot-tag="main-grid-header"></div>
			<div riot-tag="main-grid"></div>
			<div riot-tag="inspector"></div>
		</div>
	</div>


	<script type="text/javascript" src="/static/js/tag/model/subColeccion.js"></script>

	<script type="riot/tag" src="/static/js/tag/coleccion-lista.tag"></script>
	<script type="riot/tag" src="/static/js/tag/main-grid-header.tag"></script>
	<script type="riot/tag" src="/static/js/tag/main-grid.tag"></script>
	<script type="riot/tag" src="/static/js/tag/inspector.tag"></script>
	<script type="riot/tag" src="/static/js/tag/svg-ver-seleccion.tag"></script>
	<script>
		(function(){
			env.add('colecciones', new AjaxModel('{% url "user_collections" %}'))
			env.add('cur_coleccion', new AjaxModel('/web/everything'))
			env.add('cur_item', new AjaxModel())
			env.add('cur_items_selected', new AjaxModel())
			riot.mount('*');
		})();
	</script>
	<script type="text/javascript" src="/static/js/model/colecciones.js"></script>
	<script type="text/javascript" src="/static/js/model/cur_item.js"></script>
	<script type="text/javascript" src="/static/js/model/cur_items_selected.js"></script>
	<script type="text/javascript" src="/static/js/model/cur_coleccion.js"></script>


	<script type="text/javascript">

		// *******************************************************************//
		/**
		* ## colecciones
		*/

		env.colecciones.traerDatos();
		env.cur_coleccion.traerDatos();

	</script>
	<style type="text/css">
	* {
		background-color: white;
	}
	.container {
		width:90%;
		margin:0 auto;
	}
	.leftPanel {
		float:left;
		width:30%
	}

	/* debug */
	.red {
		border:1px solid red;
	}
	.blue {
		border:1px solid blue;
	}
	.black {
		border:1px solid black;
	}
	</style>
</body>
</html>
