{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head_title %}Mira{% endblock %}
{% block extra_head %}
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
		<script type="text/javascript" src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" media="screen"/>
		<script type="text/javascript" src="{% static 'js/riot+compiler.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/env.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/model.js' %}"></script>
{% endblock %}
{% block content %}

<div class="container blue">
	<div class="leftPanel">
		<div riot-tag="coleccion-lista" class="debug"></div>
	</div>

</div>

<script type="riot/tag" src="{% static 'tag/coleccion_lista.tag' %}"></script>
<script>
	(function(){
	env.add('colecciones', new AjaxModel('{% url "user_collections" %}'))
		.add('cur_coleccion', new AjaxModel())
	riot.mount('*');
	})();
</script>
<script type="text/javascript" src="{% static 'model/colecciones.js' %}"> </script>
<script type="text/javascript">
	env.colecciones.traerDatos();
</script>
<style type="text/css">
* {
	background-color: white;
}
.container {
	width:90%;
	margin:0 auto;
    margin-top: 59px;
}
.leftPanel {
	float:left;
	width:30%
}

/* debug */
.red {
	border:1px solid red;
}
.blue {
	border:1px solid blue;
}
.debug {
	border:1px solid gray;
}
.black {
	border:1px solid black;
}
</style>
{% endblock %}
